{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}

{% comment %}{% assign customer_interaction = true %}

{% if customer_interaction %}
  <script>
    // Import and execute JavaScript code when required
  </script>
{% else %}
  <script src="{{ 'jquery.min.js' | asset_url }}" async></script>
{% endif %}

<script type="text/javascript" src={{ 'jquery.min.js' | asset_url }} defer></script>

{% endcomment %}

{{ 'jquery.min.js' | asset_url }}



{% comment %}<script src="{{ 'jquery.min.js' | asset_url }}" async></script>{% endcomment %}
<script>
 var myApp = {
   shopName: '{{ shop.url }}',
 };
</script> 
<script src="{{ 'announcement-bar.js' | asset_url }}" async></script> 

  <div class="v2-free-shipping-container">
    <div class="v2-free-shipping-bar">
      <p class="v2-free-shipping-text"></p>
    </div>
  </div>

 

{% schema %}
{
  "name": "Announcement Bar",
  "target": "section",
  // "section": "announcement-bar",
  "settings": [
    {
      "type": "header",
      "content": "Please create free shipping bar from the app"
    }
  ]
}
{% endschema %}